* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    padding-top: 50px;
    background-color: dodgerblue;
    background-image: url("../img/pattern.png");
    /* Usare background-size: contain; o background-size: cover; non porta alla stessa soluzione dell'immagine.*/
}

header img {
    margin: 0 0 10px 8px;
    width: 200px;
}

main {
    margin: 10px 8px;
}

span {
    color: gray;
    font-size: 20px;
}

a {
    text-decoration: none;
}

ul {
    margin: 30px 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

thead {
    background-color: deepskyblue;
    color: white;
    text-align: left;
}

.article-info, p {
    margin: 20px 0;
}

.article-title {
    font-size: 40px;
}

.bold-text {
    font-weight: bold;
}

.font-size-small{
    font-size: 14px;
}

.deep-sky-blue {
    color: deepskyblue;
}

.light-blue {
    background-color: lightblue;
}

.quarter-column {
    width: 25%;
}

.half-column {
    width: 50%;
}

.background-image {
    color: white;
    font-weight: bold;
    font-size: 24px;
    display: block;
    width: 250px;
    height: 200px;
    padding: 10px;
    margin-top: 20px;
    /* Si potrebbe usare background-size: cover; */
}

.monitor {
    background-image: url("../img/monitor.jpg");
}

.graph {
    background-image: url("../img/graph.jpg");
}