* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    padding: 50px 0 10px 8px;
    background-color: dodgerblue;
    background-image: url("../img/pattern.png");
    background-size: contain;
}

header img {
    width: 200px;
}

main {
    margin-left: 8px;
}

p {
    margin: 20px 0;
}

ul{
    margin: 1em;
}

.article-info {
    margin: 20px 0;
}

.article-info span {
    color: gray;
}

.article-title {
    font-size: 40px;
}

.article-author {
    font-weight: bold;
    font-size: 20px;
}

.article-author a{
    text-decoration: none;
}

.light-blue {
    color: deepskyblue;
}